<?xml version="1.0"?>

<launch>
    <!-- Open rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find library_robot)/rviz/rviz_config.rviz" />

    <!-- Arguments -->
    <arg name="scan_topic"  default="scan"/>
      
    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="diffbot_slam_gmapping" output="screen">
    </node>

    <!-- Arguments -->
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="odom_topic" default="/odom" />
      
    <!-- remappings of move_base node -->
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>

    <!-- remapping of gmapping node -->
    <remap from="scan" to="$(arg scan_topic)"/>

    <!-- Save map: rosrun map_server map_saver -f /home/jetson/catkin_ws/src/library_robot_ros/map/mymap  -->
</launch>